<included>
    <property resource="logback/logback-variables.properties" />
    <appender name="CUSTOM-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>
                ${LOG_PATTERN_WITH_COLOR}
            </pattern>
        </layout>
    </appender>

    <appender name="CUSTOM-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/backend-starter-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archive/backend-starter-api_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                ${LOG_PATTERN_WITH_NO_COLOR}
            </pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CUSTOM-CONSOLE" />
        <appender-ref ref="CUSTOM-FILE" />
    </root>
    <logger name="com.blueviolet.backend" level="DEBUG"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
</included>
